# dependencies
node_modules/

# builds
.next/
dist/
coverage/

# env
.env
.env.*
!.env.example
!.env.local.example

# prisma
backend/prisma/dev.db
backend/prisma/dev.db-journal

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
.idea/
.vscode/

# misc
tmp/
*.tsbuildinfo

# docker
docker-compose.override.yml
